---
layout: defaultnav
background: landscape.jpg
---

<nav id="mynav" class="navbar navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand font-weight-light" href="{{ "actor.html" | absolute_url }}">Paul Hartmann, Filmmaker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topnav" aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topnav">
      <ul class="navbar-nav mr-auto">
        {% for post in site.posts %}
          <li class="nav-item">
            <a class="nav-link {% if post.url == page.url %}active{% endif %}" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<section class="card bg-dark text-white">
  <div class="card-img-static w-100 h-100" style="background-image: url('{{ page.background | absolute_url }}');"></div>
  <div class="card-img-stoverlay card-body container">
    <div class="row">
      <div class="col">
        <p>{{ content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
